@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  list-style: none;
}

#content {
  margin-top: calc(15vh + 20px);
}

#home-panth-pic {
  height: min(50%, 400px);
  width: min(50%, 400px);
  margin-top: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

@media only screen and (max-width: 790px) {
	nav {
		height: calc(15vh + 20px);
    box-shadow: 0 0 5px #CCCCCC;
    display: flex;
		flex-direction: column;
	}

	#navbar-small-top {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }

  #navbar-small-bottom {
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (min-width: 790px) {
	nav {
		height: calc(15vh + 20px);
    box-shadow: 0 0 5px #CCCCCC;
    display: flex;
		flex-direction: row;
	}
}